* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #238796;
}

/*
  For older browsers that 
  don't know about HTML5 
  semantic elements
*/
header, footer, main {
  display: block;
}

a {
  text-decoration: none;
  color: #238796;
}

a:hover {
  color: #fff;
}

header, footer {
  background-color: #141515;
  color: #fff;
  padding: 30px;
  width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}

.dragon-logo {
  float: left;
  margin-right: 15px;
}

.dragon-logo::after {
  clear: right;
  content: "";
}