.add-item-form {
  width: 100%;
}

input {
  flex: 1;
}

.add-item {
  height: 30px;
  padding-left: 4px;
  width: 100%;
}

.submit-btn {
  padding: 6px 15px;
  width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 300px) {
  .add-item-form {
    width: 100%;
  }
}