.add-item-form {
  width: 100%;
}

input {
  flex: 1;
}

.item-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #42b1b1;
}

.add-item {
  height: 30px;
  padding-left: 4px;
  width: 100%;
}

.submit-btn {
  padding: 6px 15px;
  width: 100%;
}