.list-footer > button {
  cursor: pointer;
  background-color: #2c4047;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  margin-top: 5px;
}

.list-footer > button:hover {
  background-color: #536666;
}

.note {
  padding: 15px;
}