ul {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 3px;
  list-style-type: none;
  background-color: #8cbed6;
}

ul > li {
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px 15px;
}

.item-text {
  margin-right: 5px;
  margin-left: 10px;
  width: 100%;
  height: 100%;
}

.delete-button {
  padding: 2px 15px;
  margin-left: 15px;
}

.empty-list-note {
  margin-top: 5px;
}