ol {
  padding: 5px;
  margin-left: 5px;
}

ol .item-text {
  margin-left: 10px;
  margin-right: 2px;
}

ol > li {
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px 15px;
}

.delete-button {
  padding: 2px 15px;
  margin-left: 15px;
}
