* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #238796;
}

/*
  For older browsers that
  don't know about HTML5
  semantic elements
*/
header, footer, main {
  display: block;
}

a {
  text-decoration: none;
  color: #238796;
}

a:hover {
  color: #fff;
}

header, footer {
  background-color: #141515;
  color: #fff;
  padding: 30px;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 150px;
}

.dragon-logo {
  float: left;
  margin-right: 15px;
}

.dragon-logo::after {
  clear: right;
  content: "";
}

@media screen and (min-width: 200px) and (max-width: 300px) {
  header, footer {
    display: block;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 100px;
  }
}