main {
  background-color: #232935;
  background-image: linear-gradient(to bottom right, #232935, #233040);
  margin-right: 450px;
  margin-left: 450px;
  padding: 30px;
  color: #fff;
  border-radius: 20px;
  border: 4px solid #000;
}